/* Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mol-lighter: white;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* #region Header */
header {
    text-align: center;
    background-color: var(--mol-lighter);

    nav {
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        & a {
            padding: 0.5rem;
            text-decoration: none;
            font-weight: 600;
        }
    }
}

/* #endregion Header */

/* #region Main */
main {
    min-height: 60vh;
    background-image: url(../images/fondo-pag-speciali.jpg);
}

/* #endregion Main */